<!DOCTYPE html>
<html>
<head>
  <title>Pokédex</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <h1>Pokédex</h1>
    <form method="GET" action="{{ url_for('search') }}">
  <input type="text" name="pokemon_query" placeholder="Enter Pokémon name or ID">
  <button type="submit">Search</button>
</form>

    {% if pokemon %}
      <div class="pokemon-card">
        <h2>{{ pokemon.name }}</h2>
        <img src="{{ pokemon.image }}" alt="Pokémon Image">
        <p>Type: {{ pokemon.type }}</p>
        <p>Abilities: {{ pokemon.abilities }}</p>
        <p>Height: {{ pokemon.height }}</p>
        <p>Weight: {{ pokemon.weight }}</p>
        <p>Base Experience: {{ pokemon.base_experience }}</p>
              <!-- Display other Pokémon details as desired -->
      </div>
    {% elif no_results %}
      <p class="no-results">No results found for the provided search term.</p>
    {% endif %}
  </div>
</body>
</html>
